@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800&family=Manrope:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Manrope", ui-sans-serif, system-ui, sans-serif;
  --font-headline: "Plus Jakarta Sans", sans-serif;

  --color-inverse-surface: #001018;
  --color-on-surface: #1c313b;
  --color-error-dim: #b92902;
  --color-surface-variant: #c2e2f2;
  --color-inverse-primary: #5cfd80;
  --color-surface-tint: #006a28;
  --color-secondary-dim: #a3041a;
  --color-surface-container-low: #dff4ff;
  --color-secondary-fixed: #ffc3bf;
  --color-surface: #edf8ff;
  --color-on-tertiary-fixed: #433700;
  --color-primary-fixed: #5cfd80;
  --color-primary: #006a28;
  --color-surface-container-lowest: #ffffff;
  --color-surface-container-high: #c9e7f6;
  --color-on-primary-fixed-variant: #006827;
  --color-surface-dim: #b7daeb;
  --color-surface-container-highest: #c2e2f2;
  --color-primary-container: #5cfd80;
  --color-surface-bright: #edf8ff;
  --color-on-tertiary-container: #594a00;
  --color-outline-variant: #9ab0bc;
  --color-secondary-container: #ffc3bf;
  --color-on-secondary-fixed: #70000d;
  --color-on-primary: #cfffce;
  --color-on-primary-container: #005d22;
  --color-tertiary: #6d5a00;
  --color-on-background: #1c313b;
  --color-on-secondary-fixed-variant: #a4061b;
  --color-on-error-container: #520c00;
  --color-tertiary-container: #fdd400;
  --color-primary-dim: #005d22;
  --color-outline: #657a85;
  --color-on-surface-variant: #495f69;
  --color-on-tertiary: #fff2ce;
  --color-inverse-on-surface: #8aa0ab;
  --color-surface-container: #d1ecfb;
  --color-tertiary-dim: #5f4e00;
  --color-tertiary-fixed: #fdd400;
  --color-on-primary-fixed: #004819;
  --color-on-secondary-container: #940015;
  --color-on-tertiary-fixed-variant: #645300;
  --color-tertiary-fixed-dim: #edc600;
  --color-error: #b02500;
  --color-error-container: #f95630;
  --color-secondary-fixed-dim: #ffafaa;
  --color-primary-fixed-dim: #4bee74;
  --color-secondary: #b41924;
  --color-on-secondary: #ffefee;
  --color-on-error: #ffefec;
  --color-background: #edf8ff;
}

@layer base {
  body {
    @apply bg-surface text-on-surface font-sans antialiased;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-headline;
  }
}

.glass-header {
  @apply bg-surface/80 backdrop-blur-md;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
